@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
.card-img-top {
    height: 180px;
    margin: 80px;
}

.card {
    margin: auto;
    float: none;
    margin-bottom: 20px;
}

p.card-text {
    font-size: 14px;
    text-align: left;
    color: #5a5a5a;
}

h5.card-title {
    font-size: 17px;
}

#search-field {
    border-radius: 50px 0 0 50px;
}

#search-btn {
    border-radius: 0 50px 50px 0;
}

div#result-count {
    color: #5e5e5e;
}